Projekt-ejb/src/conf/wsdl/Ozzik_27830/Projekt-backend/FileWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webServices.ozz.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webServices.ozz.com/">

<xs:element name="delete" type="tns:delete"/>

<xs:element name="deleteResponse" type="tns:deleteResponse"/>

<xs:element name="download" type="tns:download"/>

<xs:element name="downloadResponse" type="tns:downloadResponse"/>

<xs:element name="getXmlString" type="tns:getXmlString"/>

<xs:element name="getXmlStringResponse" type="tns:getXmlStringResponse"/>

<xs:element name="setUpPath" type="tns:setUpPath"/>

<xs:element name="upload" type="tns:upload"/>

<xs:element name="uploadResponse" type="tns:uploadResponse"/>

<xs:complexType name="setUpPath">
<xs:sequence>
<xs:element name="path" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="download">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="upload">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="code" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getXmlString">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getXmlStringResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>