Projekt-backend/web/WEB-INF/wsit-com.ozz.webServices.FileWebService.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="FileWebService" targetNamespace="http://webServices.ozz.com/" xmlns:tns="http://webServices.ozz.com/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702" 
 >
    <message name="download"/>
    <message name="downloadResponse"/>
    <message name="upload"/>
    <message name="uploadResponse"/>
    <message name="delete"/>
    <message name="deleteResponse"/>
    <message name="setUpPath"/>
    <message name="setUpPathResponse"/>
    <message name="getXmlString"/>
    <message name="getXmlStringResponse"/>
    <portType name="FileWebService">
        <operation name="download">
            <input message="tns:download"/>
            <output message="tns:downloadResponse"/>
        </operation>
        <operation name="upload">
            <input message="tns:upload"/>
            <output message="tns:uploadResponse"/>
        </operation>
        <operation name="delete">
            <input message="tns:delete"/>
            <output message="tns:deleteResponse"/>
        </operation>
        <operation name="setUpPath">
            <input message="tns:setUpPath"/>
            <output message="tns:setUpPathResponse"/>
        </operation>
        <operation name="getXmlString">
            <input message="tns:getXmlString"/>
            <output message="tns:getXmlStringResponse"/>
        </operation>
    </portType>
    <binding name="FileWebServicePortBinding" type="tns:FileWebService">
        <wsp:PolicyReference URI="#FileWebServicePortBindingPolicy"/>
        <operation name="download">
            <input></input>
            <output></output>
        </operation>
        <operation name="upload">
            <input></input>
            <output></output>
        </operation>
        <operation name="delete">
            <input></input>
            <output></output>
        </operation>
        <operation name="setUpPath">
            <input></input>
            <output></output>
        </operation>
        <operation name="getXmlString">
            <input></input>
            <output></output>
        </operation>
    </binding>
    <service name="FileWebService">
        <port name="FileWebServicePort" binding="tns:FileWebServicePortBinding"/>
    </service>
    <wsp:Policy wsu:Id="FileWebServicePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
