Projekt-ejb/src/conf/xml-resources/web-service-references/FileWebService/wsdl/localhost_27830/Projekt-backend/FileWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webServices.ozz.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webServices.ozz.com/" name="FileWebService">
<wsp:Policy wsu:Id="FileWebServicePortBindingPolicy">
<wsam:Addressing wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://webServices.ozz.com/" schemaLocation="http://localhost:27830/Projekt-backend/FileWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="download">
<part name="parameters" element="tns:download"/>
</message>
<message name="downloadResponse">
<part name="parameters" element="tns:downloadResponse"/>
</message>
<message name="getXmlString">
<part name="parameters" element="tns:getXmlString"/>
</message>
<message name="getXmlStringResponse">
<part name="parameters" element="tns:getXmlStringResponse"/>
</message>
<message name="setUpPath">
<part name="parameters" element="tns:setUpPath"/>
</message>
<message name="upload">
<part name="parameters" element="tns:upload"/>
</message>
<message name="uploadResponse">
<part name="parameters" element="tns:uploadResponse"/>
</message>
<portType name="FileWebService">
<operation name="delete">
<input wsam:Action="http://webServices.ozz.com/FileWebService/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://webServices.ozz.com/FileWebService/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="download">
<input wsam:Action="http://webServices.ozz.com/FileWebService/downloadRequest" message="tns:download"/>
<output wsam:Action="http://webServices.ozz.com/FileWebService/downloadResponse" message="tns:downloadResponse"/>
</operation>
<operation name="getXmlString">
<input wsam:Action="http://webServices.ozz.com/FileWebService/getXmlStringRequest" message="tns:getXmlString"/>
<output wsam:Action="http://webServices.ozz.com/FileWebService/getXmlStringResponse" message="tns:getXmlStringResponse"/>
</operation>
<operation name="setUpPath">
<input wsam:Action="http://webServices.ozz.com/FileWebService/setUpPath" message="tns:setUpPath"/>
</operation>
<operation name="upload">
<input wsam:Action="http://webServices.ozz.com/FileWebService/uploadRequest" message="tns:upload"/>
<output wsam:Action="http://webServices.ozz.com/FileWebService/uploadResponse" message="tns:uploadResponse"/>
</operation>
</portType>
<binding name="FileWebServicePortBinding" type="tns:FileWebService">
<wsp:PolicyReference URI="#FileWebServicePortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="download">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getXmlString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setUpPath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="upload">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FileWebService">
<port name="FileWebServicePort" binding="tns:FileWebServicePortBinding">
<soap:address location="http://localhost:27830/Projekt-backend/FileWebService"/>
</port>
</service>
</definitions>